body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ffffff;
  }

  #quadro {
    width: 800px;
    height: 300px;
    margin: 20px auto;
    border: 5px solid #000000;
  }
  
  #roda {
    width: 105px;
    height: 105px;
    background-color: #ffffff;
    border: 10px solid #000000;
    border-radius: 50%;
    position: relative;
    top: 59%;
    left: 15%;
  }

  #roda-2 {
    width: 105px;
    height: 105px;
    background-color: #ffffff;
    border: 10px solid #000000;
    border-radius: 50%;
    position: relative;
    top: 17%;
    left: 67%;
  }

  #carroceria {
    width: 700px;
    height: 170px;
    border: 2px solid #000000;
    background-image: linear-gradient(#0084ff, #000000);
    z-index:-1;
    position: relative;
    bottom: 43%;
    left: 6%;
    border-top-right-radius: 700%;
    border-top-left-radius: 300%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 220%;
  }

  #teto {
    width: 300px;
    height: 70px;
    background-color: #000000;
    border: 1px solid #000000;
    position: relative;
    left: 30%;
    bottom: 121%;
    border-top-right-radius: 200%;
    transform: rotate(4deg);
  }

  #vidro {
    width: 280px;
    height: 60px;
    background-color: #ffffff;
    border: 1px solid #000000;
    position: relative;
    left: 31%;
    bottom: 143%;
    border-top-right-radius: 200%;
    transform: rotate(4deg);
  }

  #aerofolio {
    width: 20px;
    height: 70px;
    background-color: #000000;
    border: 1px solid #000000;
    position: relative;
    left: 5%;
    bottom: 149%;
    border-top-right-radius: 100%;
    border-top-left-radius: 10%;
    transform: rotate(100deg);
  }

  #farol {
    width: 20px;
    height: 60px;
    background-image: linear-gradient(#fbff00, #ffffff);
    position: relative;
    left: 90%;
    bottom: 147%;
    border: solid 1px;
    border-top-right-radius: 20%;
    border-top-left-radius: 100%;
    transform: rotate(123deg);
  }

  #lanterna {
    width: 20px;
    height: 30px;
    background-image: linear-gradient(#000000, #ff0000, #000000);
    position: relative;
    left: 6%;
    bottom: 170%;
    border-radius: 20%;
    transform: rotate(900deg);
  }